.main {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  padding-right: 3rem;
}
hr {
  height: 100px;
}
.parent-container {
  width: 230px;
  height: 100px;
  border: white 1 px solid;
  margin-bottom: 3rem;
}
